@import "variable.styl"
@import "common.styl"
.content {
  header {
    width: 100%;
    height: 34vh;
    background: url(https://asset-cdn.aldsd.net/page/static/ddwwj/v1/invite_many.jpg) no-repeat 50%;
    background-size: 100%;
  }
  .inv-body {
    background: #ffca13;
    height 57vh
    overflow: hidden;
    padding 2rem 1rem
    box-sizing border-box
    .info {
      background: #f34112;
      position: relative;
      border-radius: .5rem;
      width: 100%;
      .top {
        background: #ca2f00;
        border-radius: .5rem .5rem .5rem .5rem;
        border-bottom: .25rem solid #ffad00;
        padding-top: 1.25rem;
        .text {
          width: 14.5rem;
          margin: 0 auto;
          background: #fff;
          padding: .75rem .75rem 0;
          border-radius: .5rem .5rem 0 0;
          .tl {
            width: 100%;
            text-align: center;
            font-size: 1.1rem;
            color: #ca2f00;
            margin-bottom: .5rem;
            font-weight: 700;
          }
          .line-cen {
            width: 100%;
            padding: .35rem;
            border: 1px solid #e3a82f;
            border-bottom: 0;
            border-radius: .5rem .5rem 0 0;
            overflow: hidden;
            font-size: .55rem;

            color: #1f1f1f;
            p{
              line-height: 1.3rem;
            }
            .cen {
              text-align: center;

            }
            i {
              color: #ca2f00;
              font-weight: 700;
            }
          }

        }
      }
      .fix-bottom{
        width 100%
        .btn{
          display: block;
          padding: 2% 16%;
          img{
            width: 100%;
          }
        }
      }
    }
  }

  .bot{
    width: 100%;
    height 9vh
    background: url(https://asset-cdn.aldsd.net/page/static/ddwwj/v1/invite-bottom.jpg) no-repeat 50%;
    background-size: 100%;
  }
}