
/*--------布局颜色-----*/
$background-color= -webkit-gradient(linear, 0 0, 0 bottom, from(#C15F7F), to(#583B86))
$act-color=#FA54A1

$fontHesderColor=#fff
$font-color=#262626

/*----room----*/
$room_backgroundColor= #FF7AB5


/*--------布局高度-----*/
$headerHeight=10vh
$actHeight=10vh;
$roomListHeight=80vh


/*--------游戏状态颜色控制-----*/

$freeColor=#80D248
$playingColor=#FFC118

/*---------room------*/
$room_headerHeight=8vh
